*.shx
*.cpg
*.shp
*.dbf
*.prj
*.kml
*.pyc
*.pptx
test/
*.csv
*.geojson
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
